[Unit]
Description=EWPE smart mqtt service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/bin/bash /home/pi/Repositories/smarthome/ewpe-smart-mqtt/docker_run.sh 

[Install]
WantedBy=multi-user.target
